body {
  background-color: rgb(238, 238, 238);
  font-family: Georgia, 'Times New Roman', Times, serif Verdana, sans-serif;
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  color: rebeccapurple;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 27px;
  color: rgb(147, 14, 143);
  text-align: center;
  font-weight: bold;
}

.btn {
  display: block;
  padding: 17px 43px;
  margin: 0 auto;

  border: 2px solid #642494;
  border-radius: 10px;

  color: #ae45ff;
  font-size: 20px;
  font-weight: 800;

  cursor: pointer;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.btn:hover {
  background-color: #4b2d88;
  color: rgb(255, 255, 255);
  border: 3px solid black;
}
