body {
  background-color: rgb(238, 238, 238);
  font-family: Georgia, 'Times New Roman', Times, serif Verdana, sans-serif;
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  color: darkslategrey;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 23px;
  color: darkslategrey;
  text-align: center;
  font-weight: bold;
}

.btn {
  display: block;
  padding: 12px 35px;
  margin: 0 auto;

  border: 2px solid #114455;
  border-radius: 10px;

  color: #114455;
  font-size: 20px;
  font-weight: 800;

  cursor: pointer;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.btn:hover {
  background-color: #114455;
  color: #fff;
  border: 2px solid black;
}
